{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2K9CBNSL77"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2K9CBNSL77');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fandaharana FPMA La Réunion</title>
    <link href="{% static 'libs/bootstrap-5.2.2/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
      html, body { overflow-x: hidden; }
      body {
        line-height: 1.2;
      }
      p { margin-bottom: 0.30rem; }

      body.dark-mode {
        background-color: #222;
      }
      body.dark-mode p, body.dark-mode span { color: #fff !important; }

      {% block font_family %}
      body {
        font-family: "Times New Roman", Serif, Arial;
      }
      {% endblock %}
    </style>

  </head>
  <body>
  <div class="container mt-4">

    {% block content %}
    {% endblock %}
  </div>
    <script src="{% static 'libs/bootstrap-5.2.2/js/bootstrap.bundle.min.js' %}" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  </body>
</html>